<section class="movie-details">
    <div class="details">	  
	  <% if @movies.present? %>
	  	<p>
          <h1>
		    Movies for "<%= @genre.name %>" genre
		  </h1>
	    </p>
	    <% @movies.each do |movie| %>
	      <section class="movie">
	  	    <div class="image">
	      	  <%= main_image(movie) %>
	        </div>
	  
	        <div class="summary">
	          <h2>
	  		    <%= link_to movie.title, movie %>
	          </h2>
	          <h3>
	            <%= total_gross(movie) %>
	          </h3>
	  	      <span class="stars">
	  	        <%= render "shared/stars", percent: movie.average_stars_as_percent %>	    
	  	      </span>	  
	          <p>
	            <%= truncate(movie.description, length: 150, separator: ' ') %>
	          </p>
	        	</div>
	      </section>
	    <% end %>
	  <% else %>
	    <h1>No movies available for "<%= @genre.name %>" genre</h1>
	  <% end %>
	  
    </div>
</section>
