<ul>
<% @movies.each do |m| %>
	 <li>
		 <strong><%= m.title %></strong> (<%= m.rating %>): <%= total_gross(m) %>
	 </li>
	 <p>
	   <%= truncate(m.description, length: 40, separator: ' ') %>
	 </p>
	 <p>
	   <%= year_of(m) %>
	 </p>
<% end %>
</ul>